@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    background-color: darkred;
    color: white;
    display: block;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    background-color: red;
}